 *{
    flex-wrap: wrap;
} 
form{
    background-color: #fff;
}

  

#list-items{
    justify-content: center;
   
}


/*Animación btn*/

 @-webkit-keyframes extend {
    0% {
        width: 150px;
        height: 60px;
        border-radius: 100px;
        } 10% {
        width: 160px;
        height: 61px;
        background: #fff;
        margin-left: - 5px;
        margin-top: - 5px;
        } 20% {
        width: 150px;
        height: 60px;
        background: #7ED4B5;
        margin-left: 0px;
        margin-top: 0px;
        } 100% {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        margin-left: 10px;
        background: #7ED4B5;
        }
    }
@keyframes extend {
    0% {
        width: 150px;
        height: 60px;
        border-radius: 100px;
        } 10% {
        width: 160px;
        height: 61px;
        background: #fff;
        margin-left: - 5px;
        margin-top: - 5px;
        } 20% {
        width: 150px;
        height: 60px;
        background: #7ED4B5;
        margin-left: 0px;
        margin-top: 0px;
        } 100% {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        margin-left: 10px;
        background: #7ED4B5;
        }
    }

@-webkit-keyframes disappear {
    0% {
        opacity: 1;
        } 20% {
        color: #fff;
        } 100% {
        opacity: 0;
        }
    }
@keyframes disappear {
    0% {
        opacity: 1;
        } 20% {
        color: #fff;
        } 100% {
        opacity: 0;
        }
    }

@-webkit-keyframes appear {
    0% {
        opacity: 0;
        } 70% {
        opacity: 0;
        } 100% {
        opacity: 1;
        }
    }
@keyframes appear {
    0% {
        opacity: 0;
        } 70% {
        opacity: 0;
        } 100% {
        opacity: 1;
        }
    } 
    html {
        background: #fff
        }
    
    input, button, submit {
            border: none
            }
    
    
    
    button {
        border-width: 1px;
        width: 150px;
        height: 60px;
        /*border-radius*/
        border-radius: 100px;
        background: #fff;
        position: absolute;
        
        border: 5px solid #7ED4B5;
        
         
        }
    
    
    
    .flecha {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0
        }
    
    button:focus {
        /*animation*/
        -webkit-animation: extend 1s ease-in-out;
        -ms-animation: extend 1s ease-in-out;
        animation: extend 1s ease-in-out;
        -webkit-animation-fill-mode: forwards;
        /* Chrome, Safari, Opera */
        animation-fill-mode: forwards
        }
    
    button:focus > span {
        /*animation*/
        -webkit-animation: disappear 1s ease-in-out;
        -ms-animation: disappear 1s ease-in-out;
        animation: disappear 1s ease-in-out;
        -webkit-animation-fill-mode: forwards;
        /* Chrome, Safari, Opera */
        animation-fill-mode: forwards
        }
    
    button:focus > img {
        /*animation*/
        -webkit-animation: appear 1s ease-in-out;
        -ms-animation: appear 1s ease-in-out;
        animation: appear 1s ease-in-out;
        -webkit-animation-fill-mode: forwards;
        /* Chrome, Safari, Opera */
        animation-fill-mode: forwards
        }
    
        #btn{
            
            padding-bottom: 40px;
        }
html {
    background: #fff
    }


    .presentacion{
        width: 100%;
        height: 100%;
        display:flex;
        margin: auto;
        border-radius: 7px;
        overflow: visible;
        box-sizing:content-box;



    }  
    .card:hover{
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-1%);
    }
    
    .presentacion .img{
        width: 100%;
        background-color: #34495e;
        vertical-align: auto;
    }
   
      
    
    .producto-info{
        width: 100%;
    }

    .producto-texto{
        width: 100%;
    }
    .producto-texto h1{
        width: 100%;
        text-align: left;
        font-weight:lighter;
        font-size: 35px;
        color: white;
        background-color: mediumaquamarine;

    }
    .producto-texto h2{
        margin: 10;
        font-size: 20px;
        font-weight:lighter;
        color: rgb(44, 83, 70);
    
        
    }
    .producto-texto p{
        text-align:start;
        font-size: 20px;
        font-weight: 100;
        height:2px;
        font-family: serif;
        color: black;
     
    }
    .precio-btn {
        height: 38px;
        margin-top: 20px;
        display:flex;
        justify-content:center;

    

    }
    .precio-btn a{
        
   
        width: 200px;
        border-radius:13px;
        margin-top: 20px;
        font-family: sans-serif;
        text-transform: uppercase;
        letter-spacing: .2em;
        color: white;
        text-align: center;
        line-height: 25px;
        cursor: pointer;
        text-decoration: none;
     



    } 
    .precio-btn a:hover{
        background: #34495e;
    }

    