body{
    background:#FFF9E3;
  }
  nav{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color:#7ED4B5;
  }

  footer{
    text-align: center;
    color:black;
    }




img{
  width: 100%;
}