
/*Contenedor de formulario y card*/
 .contenedorFormulario{
    display: flex;
    flex-direction:row;
    width: auto;
    margin: auto;
    flex-wrap: wrap;
    
    
} 


/*Formulario*/
 .formato {
    margin:auto;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0px 0px 0px 0px;
     margin-bottom: 20px;
     
    
}

.form-control{
    margin: 0;
    padding: 5px 10px 5px 5px;
    width: 100%;
    height: 30px;
    
}/*inputs*/

.form-group label{
    margin: 0;
    padding: 0;
}

.form-group{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.invalid-feedback{
    font-size: 10px;
    font-weight: 500;
}


.custom-switch label{
    font-size: 15px;
}

.custom-switch input{
    height: 10px;
}


.textRegistrate{
    text-align: center;
    font-size: 15px;
    margin: 0;
}

.pregunta{
    font-weight: normal;
    margin: 0;
}

.registrate{
    margin: 0;
}

@media (max-width:960px){

.contenedorFormulario{
    display: block;
    width: 80%;
}

@-webkit-keyframes disappear {
    0% {
        opacity: 1;
        } 20% {
        color: #fff;
        } 100% {
        opacity: 0;
        }
    }
@keyframes disappear {
    0% {
        opacity: 1;
        } 20% {
        color: #fff;
        } 100% {
        opacity: 0;
        }
    }



@media (max-width:768px) {
  .contenedorFormulario{
    width: 100%;
  }
  .formato{
    width: auto;
  }

  #msgArea{
    width: 100%;
  }

}

/* Contenedor de formulario y card
.contenedorFormulario{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 20px 50px;
    flex-wrap: wrap;
    padding-right: 50px;
    
}


Formulario
.formato {
    margin: 0 0 0 0px;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0px 0px 0px 0px;
}

.form-control{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    
}/*inputs

.form-group label{
    margin: 0;
    padding: 0;
}

.form-group{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
} */


/*checkbox*/
.check{
    display: flex;
    justify-content: center;
}
.form-check input{
    width: 1rem;
}
.form-check label{
    font-size: 15px;
}

.form-check-input{
    width: 30px;
    height: 30px;
}


}


span{
    color: #FFF9E3;
    font-size: 20px;
    justify-content: center;
    
    
  }

 #logo{
    align-content: center;
     width: 90%;
     display: flex;
     margin: auto;
     padding-right: 10px;
 }
