.barra{
  background-color:#7ED4B5;
}

  body {
    background: #FFF9E3;

  }
nav{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 25px;
}
    

  .Container {

    display: flex;
    width: 100%;
    align-items: center;
  }

  .Empresa {

    width: 50%;
    margin: 2em;
    text-align: left;
    border: 2px;
    width: 38em;
    height: 38em;



  }

  .Formato {
    width: 50%;
    
    margin: 2em ;
    text-align: left;
    border: 2px;
    width: 38em;
    height: 38em;



  }

  h1 {
    color: mediumseagreen;
    text-align: left;
  }
  .button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 2px;
      color: white;
      background-color: #548AAF;
      text-align: center;
      cursor: pointer;
      width: 10%;
    }
    
    footer{
      text-align: center;
      padding-bottom: 15px;
    }

    #enviar{
      width: 80px;
    }