*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
#btnOpinar{
    color: white;
    text-decoration: none;
}
.container_{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vetCardContainer{
  display: flex;
  width: 900px;
  height: auto;
  background-color: white;
  border-radius: 25px;
  box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.2);
  margin: 25px;
}

.cardHeader{    
    border-right: 1px solid #ddd ;
    padding: 20px;
    background-color: #7ED4B5; 
    border-radius: 25px;  
}

.cardHeader img{
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(0,0,0,0.06);
    margin: 20px 30px;
    width: 180px;
    height: 180px;
}
.descripcion{
    padding: 20px;
    position: relative;
}
.descripcion p{
    margin: 20px 30px;
    text-align: left;
    font-weight: 5px;
}
.descripcion .botones{
    text-align: center;
    margin-bottom: 20px;
}
.descripcion .botones a{
    display:inline-block;
    margin-top: 25px;
    padding: 5px 25px;
    border:  2px solid #7ED4B5;
    border-radius: 5px;
    background-color: #7ED4B5;
    text-decoration: none;
    color: beige;
    font-size: 20px;
    font-weight: 500;
    transition: all 200ms ease;

}
.descripcion .botones a:hover{
    color: beige;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4); 
     transform: translateY(-1%);
  }

@media (max-width:800px){
    .vetCardContainer{
        display: block;
        width: 320px;
        margin: 5px;
        padding: 5px;
    }
    .cardHeader{
        padding: 20px 20px 5px 20px;
        border: none;
    }
    
    .descripcion{
       padding: 5px;
    }
    .descripcion p{
        margin: 10px 15px;
        text-align: left;
    }

}


/* CARRUSEL */
.slide-container{
    max-width: 1120px;
    width: 100%;   
    padding: 40px 0;

}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;  
}
.card_{
   
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    
}
.card_:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4); 
   transform: translateY(-2%);
}
.image-content, 
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
   
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;   
    width: 100%;
    height: 100%;
    background-color:#7ED4B5;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -30px;
    height: 30px;
    width: 40px;
    background-color: #7ED4B5;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: white;
}
.card-image{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #7ED4B5;
}
.puntuacion{
    margin-top: 10px;
    text-align: center;
}
.nombre {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}
.opinion{
    font-size: 14px;
    font-weight: 500;
    color: #6a6a6a;
    text-align: center;
    margin-bottom: 15px;
}
.swiper-navBtn{
    color: #7ED4B5;
    transition: all 0.3s ease;
    opacity: 0.7;
}
.swiper-navBtn:hover{
    color: #7ED4B5;
    opacity: 1;
}
.swiper-button-next{
    right:0;
}
.swiper-button-prev{
    left:0;
}
.swiper-pagination-bullet{
    background-color: #7ED4B5;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #599881;
  
}

@media screen and (max-width: 768px) {
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
}